
    :root
    {
      --left-bg-color:#1B3B50;
      --top-bg-color:#173446;
      --button-color:#CFCCC8;
      --text-color:white;
      --button-hover-color:#2074A0;
    }
    .col-lg-9 
    {
       padding: 0px 0px 0px 0px;
    }
    .col-xs-12
    {
       padding: 0px 0px 0px 0px;
    }
    .col-lg-2
    {
      margin: 0px 0px 0px 0px;
    }
    .side
    {
      z-index: 1;
      padding: 0px 0px 0px 0px;
      background-color:var(--left-bg-color);
    }
    .main
    {
      float: right;
      margin-bottom: 0px;
      background-color:var(--top-bg-color);

    }
    .top
    {
      height: 100%;  
      padding: 0px 0px 0px 0px;
      
    }
    #menu
    {
     margin-top: 0px;
      position: relative;
      top: 0px;
      left: -25px;
      margin-right: 0px;
    }
    .button
    {
      float: left;
      height:30px;
      width: 16.43%;
      background:var(--button-color);
      display:inline-block;
      font-size:12.5px;
      color: #2074A0;
      text-decoration:none;
      margin-right: 2px;
    }
    .button:hover
    {  
      background-color: var(--button-hover-color);
      color: var(--text-color);
    }
    .parallelogram
    {
      transform: skew(40deg);
      height: 20px;
    }
    .skew-fix
    {
      display:inline-block;
      transform: skew(-40deg);
      font-size: 12px;
      
    }
    span
    {
      text-align: center;
    }

    .drop
    {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      border: none;
      background-color:var(--top-bg-color);
      color: var(--text-color);
      float: right;
      margin-right:10px;

    }

    h1
    {
      color: var(--text-color);
      margin:100px 0px 100px 0px;
      text-align: center;
    }
    h4
    {
      color: var(--text-color);
      text-align: center;
    }
    p
    {
      margin-left: 50px;
      color: var(--text-color);
    }
    .chapter
    {
       color: var(--text-color);
       margin-left: 40px;
    }
    .chapter>li>a
    {
        color: var(--text-color);
    }
    .no
    {
      margin-left: 0px;
    }
    #mobmenu
    {
       display: none;
    }
    .menubox
    {
       height: 300px;
       text-align: center;
       padding: 0px 0px 0px 0px;
       overflow: auto;
    }
    .heading
    {
       background-color: var(--button-hover-color);
       color: var(--text-color);
       
    }
    .navbar-header
    {
       margin: 0px 0px 0px 0px;
    }
    .row
    {
       width: 100%;
       margin: 0px 0px 0px 0px;
    }
    .navbar-toggle
    {
      padding-left: 0px;
      padding-right: 0px;
      margin-right: 0px;
    }
   @media screen and  (max-width: 768px)
   {
     .del
     {
       display: none;
     }
     .skew-fix
     {
       padding: 0px 0px 0px 10px;
     }
     .side
     {
       height:40px;
     }
     .drop
     {
       margin: 10px 0px 10px 0px;
       font-size: 12px;
     }
     #menu
     {
       display: none;
     }
     #mobmenu
    {
       display: block;
    }
   }
   @media screen and (min-width: 1200px)
   {
     .skew-fix
     {
       padding: 0px 0px 0px 50px;
     }
     .side
     {
       height: 700px;
     }
     .drop
     {
        margin:40px 0px 40px 0px;
     }
     .del1
     {
        display: none;
     }
   }

   .subsub
   {
     display: block;
   }
   .navbar
   {
     margin-right: 0px;
     background-color: var(--left-bg-color);
     border: transparent;
   }
   .navbar-brand
   {
     padding:15px 0px 15px 0px;
   }
   .nav>li>a
   {
     padding: 5px 0px 0px 0px;
     color: var(--text-color);
   }
   .nav
   {
     margin: 0px 0px 0px 20px;

   }

   .nav>li>a:hover
   {
     background-color: var(--left-bg-color);
     text-decoration: underline; 
   }